* {
	margin:0;
	padding:0;
}
#wrapper {
	width:650px;
	padding:35px;
	padding-left:55px !important;
}
#logo {
	position:relative;
	
}
#logo a {
	background-image:url('logo.png');
	width:229px;
	height:34px;
	display:block;
	float:left;
}

#logo a:hover {
	background-image:url('logohover.png');
	width:234px;
	height:34px;
	display:block;
	float:left;
}

#invader {
	position:absolute;
	left:-45px;
	
}

.clear {
	clear:both;
}
.post_item h3 a {
	color:#393939;
	font-family:"Proxima Nova",sans-serif;
	text-transform:lowercase;
	text-decoration:none;
	font-size:20px !important;
	font-weight:700;
}
.post_item h3 a:hover {
	color:#393939;
	font-family:"Proxima Nova",sans-serif;
	text-transform:lowercase;
	text-shadow: -1px 0 0 rgba(0,150,255,0.7),
			1px 0 0 rgba(255,0,0,0.7) !important;
	text-decoration:none;
}

.post_body {
	line-height:1.7;
	font-family:"Tisa Pro",serif;
	color:#5a5a5a;
	
	font-size:14px;
	
}

.post_item h3 {
	font-size:12px;
	font-family:"Proxima Nova",sans-serif;
	font-weight:100;
}